gradio==5.16.0
langchain==0.3.18
langchain-community==0.3.17
fastapi==0.115.8
fastembed==0.5.1
pypdf==5.3.0
chromadb==0.6.3
PyPDF2==3.0.1
python-dotenv==1.0.1
huggingface-hub==0.28.1
sentence-transformers==3.4.1
